body {
    background-color: rgb(32, 32, 157);
    
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: white;
    width: 800px;
    
    padding: 20px 10px 10px 10px;
    border: 1px solid  white;
    border-radius: 10px;
}

.title {
    font-size: 30px;
}

.error {
    margin-left: 10px;
}

.create_text {
    margin: 10px -10px 20px -20px;
    padding: 10px;
    border: 1px solid  rgb(176, 173, 173);
    border-radius: 10px;

}

.create_button {
    background-color: white;
    margin: 10px 0px 20px 0;
    padding:  10px ; 
    border: 2px solid  rgb(206, 72, 184);
    border-radius: 10px;
    color: rgb(206, 72, 184);;
    font-size: 0.9rem;
}

.create_button:hover {
    color: white;
    background-color: rgb(206, 72, 184);
}

table {
    margin-left: 40px;
}



.task_text{

    padding: 10px 0;
    border: 1px solid  rgb(176, 173, 173);
    border-radius: 10px;

}



table td {
    
    padding: 10px 20px;

}

.update_button {
    background-color: white;
    
    padding:  10px ; 
    border: 2px solid  rgb(245, 138, 30);
    border-radius: 10px;
    color: rgb(245, 138, 30);
    font-size: 0.9rem;
}

.remove_button{
    background-color: white;
    
    padding:  10px ; 
    border: 2px solid  rgb(139, 236, 120);
    border-radius: 10px;
    color: rgb(139, 236, 120);
    font-size: 0.9rem;
}

.update_button:hover {
    color: white;
    background-color: rgb(245, 138, 30);
}

.remove_button:hover {
    color: white;
    background-color: rgb(139, 236, 120);
}

.table{
    
	display: flex;
	justify-content: space-between;
}